Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,ts,json,md,css,html}": "npm run prettier:write",
  "*.{ts,js}": "npm run lint:fix"
}

refactor: fix eslint errors
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: fix eslint errors
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

perf: add method overloading to the `placeOrder` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

devDependencies: upgrade `snyk` to `v1.446.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `nock` to `v13.0.7`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `husky` to `v4.3.8`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `lint-staged` to `v10.5.4`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `typedoc` to `v0.20.23`
  package-lock.json
  package.json
  typedoc.json
Due: npm run prettier:write

devDependencies: upgrade `semantic-release` to `v17.3.7`
  package-lock.json
  package.json
Due: npm run prettier:write

test: mark void promises
  test/rest.spec.ts
  test/stream.spec.ts
Due: npm run prettier:write, npm run lint:fix

chore!: drop Node <14.15.4 support
  .github/workflows/ci.yml
  package.json
Due: npm run prettier:write

chore: update .npmignore
  .npmignore
Due: none

Notes added by 'git notes add'
  36dde68415f896416c41fb841cc31f10fcc47b3b
Due: none

devDependencies: upgrade `nock` to `v13.0.10`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `mocha` to `v8.3.0`
  package.json
Due: npm run prettier:write

devDependencies: upgrade `@types/mocha` to `v8.2.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `semantic-release` to `v17.4.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `commitlint-config-b2broker` to `v1.0.2`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `eslint-config-b2broker-ts` to `v1.0.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `typedoc` to `v0.20.29`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `husky` to `v5.1.3`
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  .npmignore
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `snyk` to `v1.473.0`
  package-lock.json
  package.json
Due: npm run prettier:write

chore: add the `prepare` script
  package.json
Due: npm run prettier:write

docs: update badges
  README.md
Due: npm run prettier:write

devDependencies: upgrade `nock` to `v13.0.11`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `mocha` to `v8.3.2`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `husky` to `v6.0.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `@types/mocha` to `v8.2.2`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `typedoc` to `v0.20.35`
  package-lock.json
  package.json
  typedoc.json
Due: npm run prettier:write

devDependencies: upgrade `snyk` to `v1.563.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `semantic-release` to `v17.4.2`
  .releaserc.json
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `commitlint-config-b2broker` to `v1.0.3`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `eslint-config-b2broker-ts` to `v1.0.2`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: npm update
  package-lock.json
Due: npm run prettier:write

fix!: parse not ok responses as json
  index.ts
  src/error.ts
  src/rest.ts
  test/error.spec.ts
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

perf(JSONStream): add the `json_string` field to errors
  src/stream.ts
  test/stream.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): update links
  README.md
Due: npm run prettier:write

ci(github): update the workflow
  .github/workflows/ci.yml
Due: none

ci(github): add the remove `docs` step
  .github/workflows/ci.yml
Due: none
