Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  8bd8ba4cf41023c3008267dc0d4a9db1493a53cd
Due: none

refactor: destruct Response
  src/error.ts
Due: npm run prettier:write, npm run lint:fix

feat: add the `JSONStream` class
  index.ts
  src/stream.ts
  test/stream.spec.ts
Due: npm run prettier:write, npm run lint:fix

feat: add the `fetchStream` method
  src/rest.ts
  src/stream.ts
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

feat: add the `orderUpdatesHttp` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add orderUpdatesHttp
  src/rest.ts
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add orderUpdatesHttp example
  README.md
Due: npm run prettier:write

Notes added by 'git notes add'
  c6e3a9b89d5c777f94139b0eafbef4fd0ed3ebcb
Due: none

feat: add the `tradesHttp` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add tradesHttp
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

refactor(stream): add the return type to the _transform method
  src/stream.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add tradesHttp example
  README.md
Due: npm run prettier:write

chore: update the package-lock file
  package-lock.json
Due: npm run prettier:write

style: remove empty lines
  src/rest.ts
  src/stream.ts
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  5fe8650822e6d0be6e9beef397526d8f7a435f10
Due: none

feat: add the `getSymbols` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getSymbols
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getSymbols example
  README.md
Due: npm run prettier:write

devDependencies: update `typedoc` to v0.19.2
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `typescript-eslint` to v4.1.1
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `snyk` to v1.399.0
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  beaf83e5d15b6aa03211cdf299ef704335d7e8a1
Due: none

feat: add the `getSymbol` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getSymbol
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getSymbol example
  README.md
Due: npm run prettier:write

Notes added by 'git notes add'
  8312e401a322bfc693ccfb991831527587225060
Due: none

perf: allow the boolean type in a query object
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

feat: add the `getSymbolSchedule` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getSymbolSchedule
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getSymbolSchedule example
  README.md
Due: npm run prettier:write

fix(types): the `orderTypes` can be `null`
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  ec7b25ec993f5ecc31f4f691b317b32709dc66fc
Due: none

feat: add `getSymbolSpecification` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getSymbolSpecification
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getSymbolSpecification example
  README.md
Due: npm run prettier:write

Path conditions:
  npm run prettier:write: any of: *.{js,ts,json,md,css,html}
  npm run lint:fix: any of: *.{ts,js}
