Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,ts,json,md,css,html}": "npm run prettier:write",
  "*.{ts,js}": "npm run lint:fix"
}

ci: test prepublishOnly and postpublish scripts
  .github/workflows/ci.yml
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/_src_error_.fetcherror.html
  docs/classes/_src_rest_.restclient.html
  docs/index.html
  docs/interfaces/_src_rest_.iaccountsummary.html
  docs/interfaces/_src_rest_.iaccountsummaryoptions.html
  docs/interfaces/_src_rest_.icurrency.html
  docs/interfaces/_src_rest_.iposition.html
  docs/interfaces/_src_rest_.iuseraccount.html
  docs/interfaces/_src_rest_.iversion.html
  docs/modules/_index_.html
  docs/modules/_src_rest_.html
  docs/modules/_test_rest_spec_.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  11e69888221ce971ba0e4ed77e7c26dcc4da2041
Due: none

docs(readme): add the version parameter
  .releaserc.json
  README.md
Due: npm run prettier:write

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  docs/classes/_src_error_.fetcherror.html
  docs/classes/_src_rest_.restclient.html
  docs/index.html
  docs/interfaces/_src_rest_.iaccountsummary.html
  docs/interfaces/_src_rest_.iaccountsummaryoptions.html
  docs/interfaces/_src_rest_.icurrency.html
  docs/interfaces/_src_rest_.iexanteoptions.html
  docs/interfaces/_src_rest_.iposition.html
  docs/interfaces/_src_rest_.iuseraccount.html
  docs/interfaces/_src_rest_.iversion.html
  docs/modules/_src_rest_.html
  docs/modules/_test_rest_spec_.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  bd97a07cc65cd718fa42630bcf95b46da592d49f
Due: none

ci: use the default successComment from @semantic-release/github
  .releaserc.json
Due: npm run prettier:write

feat: add getDailyChanges method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getDailyChanges
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getDailyChanges example
  README.md
Due: npm run prettier:write

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/_src_error_.fetcherror.html
  docs/classes/_src_rest_.restclient.html
  docs/index.html
  docs/interfaces/_src_rest_.iaccountsummary.html
  docs/interfaces/_src_rest_.iaccountsummaryoptions.html
  docs/interfaces/_src_rest_.icurrency.html
  docs/interfaces/_src_rest_.idailychange.html
  docs/interfaces/_src_rest_.iexanteoptions.html
  docs/interfaces/_src_rest_.iposition.html
  docs/interfaces/_src_rest_.iuseraccount.html
  docs/modules/_index_.html
  docs/modules/_src_rest_.html
  docs/modules/_test_rest_spec_.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  e672d558e2b12dfd30088edb210f89129a264523
Due: none

docs: change typedoc mode to file
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icurrency.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/iposition.html
  docs/interfaces/iuseraccount.html
  docs/interfaces/iversion.html
  docs/modules/_index_.html
  docs/modules/_src_error_.html
  docs/modules/_src_rest_.html
  docs/modules/_test_error_spec_.html
  docs/modules/_test_rest_spec_.html
  typedoc.json
Due: npm run prettier:write

feat: add getDailyChange method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getDailyChange
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getDailyChange example
  README.md
Due: npm run prettier:write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/iposition.html
  docs/interfaces/isymbolid.html
  docs/interfaces/iuseraccount.html
  docs/interfaces/iversion.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  2fbf934ea490530342a5f1f95a519627ad4fb03d
Due: none

feat: add getCurrencies method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getCurrencies
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getCurrencies example
  README.md
Due: npm run prettier:write

devDependencies: update mocha to v8.1.3
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update snyk to v1.386.0
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update typedoc to v0.19.0
  package-lock.json
  package.json
Due: npm run prettier:write

chore: update eslint config
  .eslintrc.json
Due: npm run prettier:write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  docs/assets/css/main.css
  docs/assets/js/main.js
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icurrencies.html
  docs/interfaces/icurrency.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/iposition.html
  docs/interfaces/isymbolid.html
  docs/interfaces/iversion.html
  package-lock.json
  package.json
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  a06dfba316d1a33223ca5335e3784f9a8f2fecf5
Due: none

feat: add getCrossrate method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getCrossrate
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getCrossrate example
  README.md
Due: npm run prettier:write

chore: update package-lock.json
  package-lock.json
Due: npm run prettier:write

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icrossrate.html
  docs/interfaces/icrossrateoptions.html
  docs/interfaces/icurrencies.html
  docs/interfaces/icurrency.html
  docs/interfaces/idailychange.html
  docs/interfaces/iposition.html
  docs/interfaces/isymbolid.html
  docs/interfaces/iuseraccount.html
  docs/interfaces/iversion.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  155f220576049e257e26c4d8b804458ef0764f67
Due: none

fix: update status property of the interface IUserAccount
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

feat: add getExchanges method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getExchanges
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getExchanges example
  README.md
Due: npm run prettier:write

devDependencies: npm update
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: add @octokit/core
  package-lock.json
  package.json
Due: npm run prettier:write

style: run prettier
  .eslintrc.json
  .lintstagedrc.json
  .releaserc.json
Due: npm run prettier:write
