Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,ts,json,md,css,html}": "npm run prettier:write",
  "*.{ts,js}": "npm run lint:fix"
}

docs(readme): add placeOrder example
  README.md
Due: npm run prettier:write

Notes added by 'git notes add'
  616a4d71c7646e817dfd348f142fd935d083568b
Due: none

devDependencies: update @commitlint/config-conventional to v11.0.0
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update @typescript-eslint to v4.1.0
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update husky to v4.3.0
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update snyk to v1.391.1
  package-lock.json
  package.json
Due: npm run prettier:write

feat: add the `getOrders` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getOrders
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getOrders example
  README.md
Due: npm run prettier:write

ci: add commitlint step
  .github/workflows/ci.yml
  package.json
Due: npm run prettier:write

ci: use node-buster container for the test job
  .github/workflows/ci.yml
Due: none

ci: fetch all git history
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  27d87dadb08c48a18aed8077a66925b47f309e04
Due: none

feat: add the `getActiveOrders` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getActiveOrders
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getActiveOrders example
  README.md
Due: npm run prettier:write

devDependencies: update snyk to v1.392.1
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  beb5d28c35dc8bdcc3e84dcae03b768762542cdf
Due: none

fix: add the `version` property to V3 interfaces
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

fix: update orderParameters
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  3c26034b3742ad78915de083e9dcc9122c0ec320
Due: none

feat: add the `modifyOrder` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

devDependencies: update `commitlint` to `v11.0.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `snyk` to `v1.395.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `eslint` to `v7.9.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update `@typescript-eslint` to `v4.1.1`
  package-lock.json
  package.json
Due: npm run prettier:write

test: add modifyOrder
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add modifyOrder example
  README.md
Due: npm run prettier:write

Notes added by 'git notes add'
  fa950825d5bbe44e9a2d96557c6704d6407d7eb7
Due: none

ci: add preRelease step
  .github/workflows/ci.yml
Due: none

ci: combine preRelease and release steps
  .github/workflows/ci.yml
Due: none

chore: add github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: npm run prettier:write

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: npm run prettier:write

style: run prettier
  CODE_OF_CONDUCT.md
Due: npm run prettier:write

chore: add Code of Conduct
  CODE_OF_CONDUCT.md
Due: npm run prettier:write
