Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

chore: add `c8` config
  .c8rc.json
  .npmignore
Due: npm run prettier:write

refactor: use `node:` prefix for imports
  index.ts
  src/rest.ts
  src/stream.ts
Due: npm run prettier:write, npm run lint:fix

test: update imports
  test/rest.spec.ts
  test/stream.spec.ts
Due: npm run prettier:write, npm run lint:fix

perf!: drop `Node<16.8.0` support
  package-lock.json
  package.json
Due: npm run prettier:write

chore: update .lock file
  package-lock.json
Due: npm run prettier:write

refactor: use private methods
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

devDependencies: upgrade `@semantic-release/git` to `v9.0.1`
  package-lock.json
  package.json
Due: npm run prettier:write

fix(JSONStream): buffer incomplete chunks
  src/stream.ts
Due: npm run prettier:write, npm run lint:fix

test(JSONStream): buffer incomplete chunks
  test/rest.spec.ts
  test/stream.spec.ts
Due: npm run prettier:write, npm run lint:fix

devDependencies: upgrade `snyk` to `v1.697.0`
  package-lock.json
  package.json
Due: npm run prettier:write

ci(GitHub): update workflow
  .github/workflows/ci.yml
Due: none

chore: update `semantic-release` config
  .releaserc.json
Due: npm run prettier:write

Notes added by 'git notes add'
  6bf16a046aa8af35cebe5929915f41f10d241545
Due: none

devDependencies: upgrade `snyk` to `v1.789.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `snyk` to `v10.4.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `prettier` to `v2.5.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `nock` to `v13.2.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `mocha` to `v9.1.3`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `husky` to `v7.0.4`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `c8` to `v7.10.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `commitlint-config-b2broker` to `v1.0.6`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `lint-staged` to `v12.1.2`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `typedoc` to `v0.22.10`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `eslint-config-b2broker-ts` to `v2.0.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `semantic-release` to `v18.0.1`
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: upgrade `node-fetch` to `v3.1.0`
  package-lock.json
  package.json
Due: npm run prettier:write

perf: add `AbortSignal` to stream methods
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

docs(README): add `AbortSignal` example
  README.md
Due: npm run prettier:write

Notes added by 'git notes add'
  725b1e7e62eed27ad56cb45301e3cc3610fcc538
Due: none

chore: update npm scripts
  package.json
Due: npm run prettier:write

Path conditions:
  npm run prettier:write: any of: *.{js,ts,json,md,css,html}
  npm run lint:fix: any of: *.{ts,js}
