Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

ci(github): add the `docs` step
  .github/workflows/ci.yml
Due: none

ci(github): add the publish step
  .github/workflows/ci.yml
  package.json
Due: npm run prettier:write

chore: update semantic-release config
  .releaserc.json
Due: npm run prettier:write

ci(github): add coverage parallel jobs
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  f00429902d19dbfdc92ae2efe1a79bc64ee77061
Due: none

ci(github): use the `node:15-alpine` container for coverage
  .github/workflows/ci.yml
Due: none

style: do not use the `async` keyword with no `await`
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

perf(JSONStream): add the `chunk` property to errors
  src/stream.ts
Due: npm run prettier:write, npm run lint:fix

devDependencies: upgrade `typedoc` to `v0.20.36`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `ts-node` to `v10.0.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `snyk` to `v1.618.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `semantic-release` to `v17.4.3`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `prettier` to `v2.3.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `mocha` to `v8.4.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `lint-staged` to `v11.0.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `commitlint-config-b2broker` to `v1.0.4`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `eslint-config-b2broker-ts` to `v1.0.3`
  package-lock.json
  package.json
Due: npm run prettier:write

style: run prettier
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

ci(github): use Node 16
  .github/workflows/ci.yml
Due: none

ci(github): remove coverage job
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  bdcd68ad4ab88606038aee5390afdc2afaa8012c
Due: none

devDependencies: upgrade `husky` to `v7.0.2`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `prettier` to `v2.3.2`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `nock` to `v13.1.3`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `snyk` to `v1.696.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `mocha` to `v9.1.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `@types/mocha` to `v9.0.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `lint-staged` to `v11.1.2`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `ts-node` to `v10.2.1`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `semantic-release` to `v17.4.7`
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: upgrade `node-fetch` to `v3.0.0`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `commitlint-config-b2broker` to `v1.0.5`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `typedoc` to `v0.21.9`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: upgrade `eslint-config-b2broker-ts` to `v1.0.4`
  package-lock.json
  package.json
Due: npm run prettier:write

chore!: change the package type to ES module
  package.json
  tsconfig.json
Due: npm run prettier:write

devDependencies: remove `nyc`
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: add `c8`
  package-lock.json
  package.json
Due: npm run prettier:write

Path conditions:
  npm run prettier:write: any of: *.{js,ts,json,md,css,html}
  npm run lint:fix: any of: *.{ts,js}
