Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,ts,json,md,css,html}": "npm run prettier:write",
  "*.{ts,js}": "npm run lint:fix"
}

ci: add gpg version step
  .github/workflows/ci.yml
Due: none

fix: `accountId` is required
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  84afd0539f68bec22df51184078daea8efc4942d
Due: none

chore: add code of conduct to .npmignore
  .npmignore
Due: none

feat: add the `getOrder` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getOrder
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getOrder example
  README.md
Due: npm run prettier:write

Notes added by 'git notes add'
  910a7eb9976ab8deb3376491d4d217fdb2195c61
Due: none

feat: add the `getExchangeSymbols` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getExchangeSymbols
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getExchangeSymbols example
  README.md
Due: npm run prettier:write

devDependencies: update snyk to v1.398.0
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  397a0ea814e9878a054772e5a7bec421f2397ea6
Due: none

ci(github): add pull request template
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  package.json
Due: npm run prettier:write

feat: add the `getGroups` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getGroups
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getGroups example
  README.md
Due: npm run prettier:write

docs: add version
  typedoc.json
Due: npm run prettier:write

Notes added by 'git notes add'
  336898d8e1bd9bc29a42b02bafc6fcf7f4e8b2d6
Due: none

feat: add the `getGroupSymbols` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getGroupSymbols
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getGroupSymbols
  README.md
Due: npm run prettier:write

Notes added by 'git notes add'
  9db3533f071ecbe2a1ebf5a5d9b6f90fa1f07f3b
Due: none

devDependencies: update lint-staged to v10.4.0
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update prettier to v2.1.2
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update semantic-release to v17.1.2
  package-lock.json
  package.json
Due: npm run prettier:write

docs: update Code of Conduct
  CODE_OF_CONDUCT.md
Due: npm run prettier:write

feat: add the `getGroupNearestSymbol` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getGroupNearestSymbol
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getGroupNearestSymbol example
  README.md
Due: npm run prettier:write

devDependencies: update typescript to v4.0.3
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: update snyk to v1.398.1
  package-lock.json
  package.json
Due: npm run prettier:write

chore: add .prettierignore for documentation
  .prettierignore_docs
  package.json
Due: npm run prettier:write

chore: update npmignore
  .npmignore
Due: none
