Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,ts,json,md,css,html}": "npm run prettier:write",
  "*.{ts,js}": "npm run lint:fix"
}

chore: add tsconfig
  tsconfig.json
Due: npm run prettier:write

chore: add typedoc config
  typedoc.json
Due: npm run prettier:write

chore: update gitignore
  .gitignore
Due: none

chore: add eslintrc
  .eslintrc.json
Due: npm run prettier:write

chore: add semantic release config
  .releaserc.json
Due: npm run prettier:write

chore: update git script
  .github/scripts/git.sh
Due: none

chore: run prettier on all files
  .lintstagedrc.json
Due: npm run prettier:write

metadata: run npm init
  package.json
Due: npm run prettier:write

dependencies: add node-fetch
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: add devDependencies
  package-lock.json
  package.json
Due: npm run prettier:write

ci: add ci workflow
  .github/workflows/ci.yml
Due: none

test: add fetch error
  test/error.spec.ts
Due: npm run prettier:write, npm run lint:fix

feat: add rest client
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add rest client
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

refactor: add index.ts
  index.ts
Due: npm run prettier:write, npm run lint:fix

docs: add readme
  README.md
Due: npm run prettier:write

chore: add .snyk
  .snyk
Due: none

chore: add npmignore
  .npmignore
Due: none

ci: fix syntax error
  .github/workflows/ci.yml
Due: none

chore: fix typo in docs:test command
  package.json
Due: npm run prettier:write

ci: use gpg instead of gpg2
  .github/scripts/decrypt.sh
  .github/scripts/encrypt.sh
  .github/scripts/gpg.sh
Due: none

ci: fix file paths
  .github/scripts/decrypt.sh
  .github/scripts/encrypt.sh
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  docs/assets/css/main.css
  docs/assets/images/icons.png
  docs/assets/images/icons@2x.png
  docs/assets/images/widgets.png
  docs/assets/images/widgets@2x.png
  docs/assets/js/main.js
  docs/assets/js/search.json
  docs/classes/_src_error_.fetcherror.html
  docs/classes/_src_rest_.restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/_src_rest_.iexanteoptions.html
  docs/interfaces/_src_rest_.iuseraccount.html
  docs/interfaces/_src_rest_.iversion.html
  docs/modules/_index_.html
  docs/modules/_src_error_.html
  docs/modules/_src_rest_.html
  docs/modules/_test_error_spec_.html
  docs/modules/_test_rest_spec_.html
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  ba886d6a7923e33c2588e49e7603d4a14dbb22a0
Due: none

chore: add unsafe-perm=true to publish config
  .github/workflows/ci.yml
Due: none

feat(rest): add getAccounts method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test(rest): add getAccounts method
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getAccounts example
  README.md
Due: npm run prettier:write

docs(readme): add the docs link
  README.md
Due: npm run prettier:write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/_src_error_.fetcherror.html
  docs/classes/_src_rest_.restclient.html
  docs/index.html
  docs/interfaces/_src_rest_.iexanteoptions.html
  docs/interfaces/_src_rest_.iuseraccount.html
  docs/interfaces/_src_rest_.iversion.html
  docs/modules/_src_rest_.html
  docs/modules/_test_rest_spec_.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  b7b23face9c93dfce257c7b80993556112b8c6c7
Due: none

feat: add getAccountSummary method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

chore: update successComment
  .releaserc.json
Due: npm run prettier:write

feat: export default API version
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getAccountSummary
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

ci: use GITHUB_REF variable
  .github/workflows/ci.yml
Due: none

docs(readme): add getAccountSummary example
  README.md
Due: npm run prettier:write

ci: use coverallsapp
  .github/workflows/ci.yml
  package.json
Due: npm run prettier:write

devDependencies: remove coveralls
  package-lock.json
  package.json
Due: npm run prettier:write

ci: use coverage script
  .github/workflows/ci.yml
  package.json
Due: npm run prettier:write
