Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

feat: add the `getTypes` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getTypes
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getTypes example
  README.md
Due: npm run prettier:write

feat: add the `getTypeSymbols` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getTypeSymbols
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getTypeSymbols example
  README.md
Due: npm run prettier:write

Notes added by 'git notes add'
  edd45badb1cca3647d8a60b707a7a6872e52d086
Due: none

Notes added by 'git notes add'
  e46f1a52785081c9d43b4a7d986d934f575823c4
Due: none

Notes added by 'git notes add'
  8abf2777f0e2ce39c3c991cb308d014871e35323
Due: none

feat: add the `getTradesStream` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getTradesStream
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getTradesStream example
  README.md
Due: npm run prettier:write

feat: add the `getQuoteStream` method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getQuoteStream
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getQuoteStream example
  README.md
Due: npm run prettier:write

Notes added by 'git notes add'
  7e79efe24e144562301b752e8d2a012ac7847071
Due: none

Notes added by 'git notes add'
  0a9565d14bdfa12bc5a8130fd5ded023464cdbb8
Due: none

dependencies: set the `node-fetch` to 3.0.0-beta.9
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  81a8749c902e5da20ed700e6507a8987d0b87cfa
Due: none

feat: add the getAccountSummaryWithoutDate method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getAccountSummaryWithoutDate
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getAccountSummaryWithoutDate example
  README.md
Due: npm run prettier:write

devDependencies: npm update
  package-lock.json
  package.json
Due: npm run prettier:write

fix: update position types
  src/error.ts
  src/rest.ts
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  97db975721ac83ae8063aabb86e7e27a8dba4506
Due: none

fix: update position types
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

Notes added by 'git notes add'
  26a094ddebe61417f6a7f4c12b28648dd84bff51
Due: none

devDependencies: add `@b2broker/tsconfig`
  package-lock.json
  package.json
  tsconfig.json
Due: npm run prettier:write

devDependencies: add `commitlint-config-b2broker`
  .commitlintrc.json
  package-lock.json
  package.json
Due: npm run prettier:write

devDependencies: add `eslint-config-b2broker-ts`
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
Due: npm run prettier:write

style: use single-line comments
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

Path conditions:
  npm run prettier:write: any of: *.{js,ts,json,md,css,html}
  npm run lint:fix: any of: *.{ts,js}
