Repository b2broker/exante-node: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:write, npm run lint:fix

docs: add comments
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

ci: add publish:test script
  .github/workflows/ci.yml
  package.json
Due: npm run prettier:write

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icrossrate.html
  docs/interfaces/icrossrateoptions.html
  docs/interfaces/icurrencies.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/iexchange.html
  docs/interfaces/iposition.html
  docs/interfaces/isymbolid.html
  docs/interfaces/iuseraccount.html
  docs/interfaces/iversion.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  5526dc6d4bbd3f39fcb0d62d270bec6eaa3484b7
Due: none

feat: add static method setQuery
  src/rest.ts
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

feat: add getLastQuote method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getLastQuote
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getLastQuote example
  README.md
Due: npm run prettier:write

devDependencies: npm update
  package-lock.json
  package.json
Due: npm run prettier:write

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icrossrate.html
  docs/interfaces/icrossrateoptions.html
  docs/interfaces/icurrencies.html
  docs/interfaces/icurrency.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/iexchange.html
  docs/interfaces/ilastquote.html
  docs/interfaces/ilastquoteoptions.html
  docs/interfaces/iposition.html
  docs/interfaces/iquotesidev2.html
  docs/interfaces/iquotesidev3.html
  docs/interfaces/iuseraccount.html
  docs/interfaces/iversion.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  703b7b159dc7dd2e79eff31852c0ba8db0dda96e
Due: none

feat: add getCandles method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getCandles
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getCandles example
  README.md
Due: npm run prettier:write

chore: add .prettierignore
  .github/scripts/encrypt.sh
  .github/scripts/git.sh
  .npmignore
  .prettierignore
Due: none

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icandle.html
  docs/interfaces/icandlesoptions.html
  docs/interfaces/icrossrate.html
  docs/interfaces/icrossrateoptions.html
  docs/interfaces/icurrencies.html
  docs/interfaces/icurrency.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/iexchange.html
  docs/interfaces/ilastquote.html
  docs/interfaces/ilastquoteoptions.html
  docs/interfaces/iposition.html
  docs/interfaces/iquotesidev2.html
  docs/interfaces/iquotesidev3.html
  docs/interfaces/isymbolid.html
  docs/interfaces/iuseraccount.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  116b4508f7610591db5f97540f3a69cf87006f5d
Due: none

feat: add getTicks method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getTicks
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getTicks example
  README.md
Due: npm run prettier:write

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icandle.html
  docs/interfaces/icandlesoptions.html
  docs/interfaces/icrossrate.html
  docs/interfaces/icrossrateoptions.html
  docs/interfaces/icurrencies.html
  docs/interfaces/icurrency.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/ilastquote.html
  docs/interfaces/ilastquoteoptions.html
  docs/interfaces/iposition.html
  docs/interfaces/iquotesidev2.html
  docs/interfaces/iquotesidev3.html
  docs/interfaces/isymbolid.html
  docs/interfaces/itickbase.html
  docs/interfaces/iticksoptions.html
  docs/interfaces/itradetickv2.html
  docs/interfaces/itradetickv3.html
  docs/interfaces/iuseraccount.html
  docs/interfaces/iversion.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  db5548e3de98ab058aa645c69f4222201aa12f27
Due: none

feat: add getTransactions method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add getTransactions
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs(readme): add getTransactions example
  README.md
Due: npm run prettier:write

devDependencies: update snyk to v1.389.0
  package-lock.json
  package.json
Due: npm run prettier:write

fix: update symbolId type
  src/rest.ts
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/index.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icandle.html
  docs/interfaces/icandlesoptions.html
  docs/interfaces/icrossrateoptions.html
  docs/interfaces/icurrencies.html
  docs/interfaces/icurrency.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/iexchange.html
  docs/interfaces/ilastquote.html
  docs/interfaces/ilastquoteoptions.html
  docs/interfaces/iquotesidev2.html
  docs/interfaces/iquotesidev3.html
  docs/interfaces/isymbolid.html
  docs/interfaces/itickbase.html
  docs/interfaces/iticksoptions.html
  docs/interfaces/itradetickv2.html
  docs/interfaces/itradetickv3.html
  docs/interfaces/itransactionbase.html
  docs/interfaces/itransactionsoptions.html
  docs/interfaces/itransactionv2.html
  docs/interfaces/itransactionv3.html
  docs/interfaces/iuseraccount.html
  docs/interfaces/iversion.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  5fc2bfce423ad6c1afd51644053b7626ba702648
Due: none

perf: add static JWT method
  src/rest.ts
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icandle.html
  docs/interfaces/icandlesoptions.html
  docs/interfaces/icrossrate.html
  docs/interfaces/icrossrateoptions.html
  docs/interfaces/icurrencies.html
  docs/interfaces/icurrency.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/iexchange.html
  docs/interfaces/ilastquote.html
  docs/interfaces/ilastquoteoptions.html
  docs/interfaces/iposition.html
  docs/interfaces/iquotesidev2.html
  docs/interfaces/iquotesidev3.html
  docs/interfaces/isymbolid.html
  docs/interfaces/itickbase.html
  docs/interfaces/iticksoptions.html
  docs/interfaces/itradetickv2.html
  docs/interfaces/itradetickv3.html
  docs/interfaces/itransactionbase.html
  docs/interfaces/itransactionsoptions.html
  docs/interfaces/itransactionv2.html
  docs/interfaces/itransactionv3.html
  docs/interfaces/iuseraccount.html
  docs/interfaces/iversion.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  6383739a39fdd4b431b41e02ce43c70d096756e3
Due: none

perf: add static fetch method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add static fetch
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

docs: update typedoc to v0.19.1
  package-lock.json
  package.json
Due: npm run prettier:write

dependencies: update node-fetch to v3.0.0-beta.9
  package.json
Due: npm run prettier:write

chore(release): 1.11.2 [skip ci]
  CHANGELOG.md
  docs/assets/js/search.json
  docs/classes/fetcherror.html
  docs/classes/restclient.html
  docs/globals.html
  docs/interfaces/iaccountsummary.html
  docs/interfaces/iaccountsummaryoptions.html
  docs/interfaces/icandle.html
  docs/interfaces/icandlesoptions.html
  docs/interfaces/icrossrate.html
  docs/interfaces/icrossrateoptions.html
  docs/interfaces/icurrencies.html
  docs/interfaces/icurrency.html
  docs/interfaces/idailychange.html
  docs/interfaces/iexanteoptions.html
  docs/interfaces/iexchange.html
  docs/interfaces/ilastquote.html
  docs/interfaces/ilastquoteoptions.html
  docs/interfaces/iposition.html
  docs/interfaces/iquotesidev2.html
  docs/interfaces/iquotesidev3.html
  docs/interfaces/isymbolid.html
  docs/interfaces/itickbase.html
  docs/interfaces/iticksoptions.html
  docs/interfaces/itradetickv2.html
  docs/interfaces/itradetickv3.html
  docs/interfaces/itransactionbase.html
  docs/interfaces/itransactionsoptions.html
  docs/interfaces/itransactionv2.html
  docs/interfaces/itransactionv3.html
  docs/interfaces/iuseraccount.html
  docs/interfaces/iversion.html
  package-lock.json
  package.json
Due: npm run prettier:write

Notes added by 'git notes add'
  93ee1c9292dad1b4a5562bfc0688853889cb444b
Due: none

feat: add placeOrder method
  src/rest.ts
Due: npm run prettier:write, npm run lint:fix

test: add placeOrder
  test/rest.spec.ts
Due: npm run prettier:write, npm run lint:fix

Path conditions:
  npm run prettier:write: any of: *.{js,ts,json,md,css,html}
  npm run lint:fix: any of: *.{ts,js}
